* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Alice", serif;
  line-height: 150%;
  color: #573a37;
}

body {
  background-image: url(assets/fernando-stahelin-xw9d1lm8M_M-unsplash.jpg);
  background-size: cover;
}

#page {
  box-sizing: border-box;
  width: 900px;
  padding: 24px;
  background-color: #f3d1bd;
  border-radius: 24px;
  margin: 48px auto;
}

img {
  border-radius: 16px;
  width: 100%;
}

main {
  padding: 24px;
}

section + section {
  margin-top: 24px;
}

#about p + p {
  margin-top: 12px;
}

h1 {
  line-height: 140%;
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
  margin-top: 4px;
}

h1, h2, h3 {
  color: #291B1A;
  margin-bottom: 4px;
  line-height: 150%;
}

ul {
  padding-left: 24px;
  list-style: circle;
  font-size: 18px;;
}

p {
  font-size: 18px;
}